<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>beni</title>
</head>

<body>
    <h1>beni</h1>
    <p>deep in the rainforest?</p>
  <main>
      <h1> book id: <%= @id %></h1>
      <a href="http://127.0.0.1:9292/">go home?</a> 
    </main>
    <footer>
    <p>&copy; avery -> very early development build 2026</p>
    </footer>
  </body>