<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>beni</title>
</head>

<body>
    <h1>beni</h1>
    <p>deep in the rainforest?</p>      
  <main>
    <p>library!</p>
     <a href="http://127.0.0.1:9292/publish">publish</a> 
     <a href="http://127.0.0.1:9292/bookstore/book/123123">book id tester</a> 
  </main>
  <footer>
    <p>&copy; avery -> very early development build 2026</p>
  </footer>  
</body>