<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>beni</title>
</head>

<body>
    <h1>beni</h1>
    <p>deep in the rainforest?</p>      
  <main>
    <p>publish</p>    
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="put">
      <input type="file" name="file" required>
      <br><br>
      <input type="submit" value="Upload">
    </form>
  </main>
  <footer>
    <p>&copy; avery -> very early development build 2026</p>
  </footer>
</body>